body {
    font-family: Arial, sans-serif;
}

.h3-inline {
    display: inline;
}

.h3-inline::after {
    content: "\02002";
}

.inline-item {
    display: inline;
    margin-right: 2em;
}

p {
    display: inline;
}

h3 {
    margin-bottom: 0;
}